body {
    margin: 0px;
    background-color: #FFFAF0;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin: 0 30px;
    text-align: justify;
}


h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

/* --------------------------------------------------------HEADER-------------------------------------------------------- */

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    height: 100px;
    box-shadow: 0 0 25px rgba(0,0,0,1);
}

#header_title {
    text-align: center;
    font-size: 50px;
    color: #FFFAF0;
    padding-top: 15px;
}

#header_additional_title {
    font-size: 18px;
    color: #FFFAF0;
    padding-left: 80%;
}

/* --------------------------------------------------------TEXT-SECTION-------------------------------------------------------- */

.first_part {
    text-align: justify;
    margin-top: 30px;
}

.left_part {
    float: left;
    width: 70%;
    text-align: justify;
    margin: 30 30px;
    margin-bottom: 30px;
}

.right_part {
    float: left;
    width: 30%;
}

.picture1 {
    height: 80px;
    float: left;
    margin: 0 30px;
}

.picture2 {
    height: 80px;
    float: right;
    margin-left: 30px;
}

.picture3 {
    height: 80px;
}

.right_part img {
    border-radius: 10px;
}

.z1 {
    position: relative;
    z-index: 1;
  }
  
.z2 {
    position: relative;
    z-index: 2;
    margin-left: 70px;
    margin-top: -50px;
}

.z3 {
    position: relative;
    z-index: 3;
    margin-left: 140px;
    margin-top: -50px;
}

li {
    display: inline-block;
}

.second_part {
    background-color: black;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    padding-top: 10px;
}

.navigation {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFAF0;
    font-size: 20px;
    margin-inline: 10px;
}

.regs_form {
    display:inline-block;
    width: 800px;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
    background-color:#fff;
}

.registers {
    width: 300px;
    display: flex;
    padding-left: 40px;
}

.reg_icon {
    width: 100px;
    margin-bottom: 25px;
}

.reg_inside {
    border-radius: 10px;
    margin-bottom: 25px;
    width: 150px;
    padding: 10px 10px;
    text-align: center;
}

.reg_label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    text-align: left;
    margin-bottom: 25px;
    padding: 10px 10px;
}

.reg_submit_label {
    margin-top: 80px;
    text-align: center;
}

.reg_accept_label {
    width: 200px;
}

.reg_check {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 10px;
    margin-bottom: 25px;
}

.reg_submit_button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: white;
    clear: both;
}

.reg_reset_button {
    clear: both;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #696969;
    color: white;
}

.enroll_form {
    display: inline-block;
    width: 300px;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 250, 240, 0.6);
    background-color:white;
    text-align: center;
}
  
.enroll_inside {
    border-radius: 10px;
    width: 150px;
    margin-bottom: 25px;
    padding: 10px 10px;
}
  
.enroll_enter {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: white;
}

#feedback {
    text-align: center;
    /* position: sticky;  */
    bottom: 30px; 
    z-index: 10; 
    background-color: #FFFAF0; 
    box-shadow: 0 0 25px rgba(255, 250, 240, 0.6);
}

.feedback_form {
    display: inline-block;  
    width: 600px;
    padding: 40px 60px;
    margin: 40px;
    border-radius: 20px;
    border: solid 3px black;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    background-color:white;
    text-align: center;
}

.feedback_inside {
    border-radius: 10px;
    width: 150px;
    margin-bottom: 25px;
    padding: 10px 10px;
}

.feedback_enter {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: white;
}

/* --------------------------------------------------------FOOTER-------------------------------------------------------- */

footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #FFFAF0;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    font-size: 18px;
    height: 100px;
    vertical-align: middle;
}

.footer_links {
    float: left;
    margin-left: 30px;  
}

.footer_text {
    margin-top: 5px;
    margin-left: 9px;
}

.footer_logo {
    width:50px;
    margin-inline: 10px;
    margin-top: 10px;
}

.footer_copyright {
    position: absolute;
    margin-top: 30px;
    margin-left: 80%;
}